# Viz-a-thon

In [1]:
import re
import numpy as np
import pandas as pd
from termcolor import colored

import warnings
warnings.filterwarnings('ignore')

# <font color='blue'>Preview Data</font>

In [2]:
!pwd ; ls data/

/Users/ehawkins/Repos/ol-viz-a-thon
ls: data/: No such file or directory

In [3]:
appeals = pd.read_csv('Vizathon-Data/AppealProcess.csv')

# appeals.head(3)

crim_appeals_struct = pd.read_csv('Vizathon-Data/AppellateCriminalStructure.csv')

# crim_appeals_struct.head(3)

case_mgmt = pd.read_csv('Vizathon-Data/CaseManagement.csv')

# case_mgmt.head(3)

case_type = pd.read_csv('Vizathon-Data/CaseType.csv')

# case_type.head(3)

caseload_size = pd.read_csv('Vizathon-Data/CaseloadSize.csv')

# caseload_size.head(3)

child_court = pd.read_csv('Vizathon-Data/ChildCourt.csv') 

# child_court.head(3)

courts = pd.read_csv('Vizathon-Data/Court.csv')
courts.drop('Unnamed: 9', axis=1, inplace=True)
courts.drop('Unnamed: 10', axis=1, inplace=True)

# courts.head()

# courts.isnull().sum(), len(courts)

court_case_type = pd.read_csv('Vizathon-Data/CourtCaseType.csv')

# court_case_type.head(3)

court_court_names = pd.read_csv('Vizathon-Data/CourtCourtName.csv')

# court_court_names.head(3)

court_level = pd.read_csv('Vizathon-Data/CourtLevel.csv')

court_names = pd.read_csv('Vizathon-Data/CourtName.csv')

# court_names.head()

# court_level.head(3)

death_penalty = pd.read_csv('Vizathon-Data/DeathPenalty.csv')

# death_penalty.head(3)

e_filing_fee = pd.read_csv('Vizathon-Data/EFilingFee.csv')

# e_filing_fee.head(3)

e_filing_mandatory = pd.read_csv('Vizathon-Data/EfilingMandatory.csv')

# e_filing_mandatory.head(3)

funding = pd.read_csv('Vizathon-Data/Funding.csv')

# funding.head(3)

neighbor = pd.read_csv('Vizathon-Data/Neighbor.csv')

# neighbor.head(3)

neighbor_states = pd.read_csv('Vizathon-Data/USStateNeighbor.csv')

# neighbor_states.head(3)

panel_decision = pd.read_csv('Vizathon-Data/PanelDecision.csv')

# panel_decision.head(3)

pop_category = pd.read_csv('Vizathon-Data/PopulationCategory.csv')

# pop_category.head(3)

pop_density = pd.read_csv('Vizathon-Data/PopulationDensity.csv')

# pop_density.head(3)

rural = pd.read_csv('Vizathon-Data/Rural.csv')

# rural.head(3)

trial_criminal_proc = pd.read_csv('Vizathon-Data/TrialCriminalProcessing.csv')

# trial_criminal_proc.head(3)

trial_struct = pd.read_csv('Vizathon-Data/TrialStructure.csv')

# trial_struct.head(3)

us_state = pd.read_csv('Vizathon-Data/USState.csv')

# us_state.head()

us_state_court = pd.read_csv('Vizathon-Data/USStateCourt.csv')

# us_state_court.head(3)

us_state_neighbor = pd.read_csv('Vizathon-Data/USStateNeighbor.csv')

# us_state_neighbor.head(3)

# <font color='blue'>State Statistics</font>

## <font color='orange'>Single State</font>

<img src='StateData.png'></img>

In [4]:
_state = 'California'

# Select state stats
samp_state = us_state[us_state['USStateName'] == _state]

In [5]:
samp_state.T

                                       4
USStateID                              5
USStateName                   California
PopulationCategoryID                   7
PopulationDensityID                    5
RuralID                                4
TrialStructureID                       1
AppellateCriminalStructureID           4
TrialCriminalProcessingID              1
DeathPenaltyID                         1
TrialCaseloadSizeID                    6
DisplayOrder                           5

## <font color='#BC2E0F'>One-to-one Relationships</font>

### <font color='green'>Population Density</font>

In [6]:
def get_population_density(row):
    return pop_density[pop_density['PopulationDensityID'] == row['PopulationDensityID']]['PopulationDensityDescription'].values[0]

In [7]:
samp_state['PopulationDensity'] = samp_state.apply(get_population_density, axis=1)

In [8]:
samp_state.T

                                       4
USStateID                              5
USStateName                   California
PopulationCategoryID                   7
PopulationDensityID                    5
RuralID                                4
TrialStructureID                       1
AppellateCriminalStructureID           4
TrialCriminalProcessingID              1
DeathPenaltyID                         1
TrialCaseloadSizeID                    6
DisplayOrder                           5
PopulationDensity                201-500

### <font color='green'>Population Category</font>

In [9]:
def get_population_category(row):
    return pop_category[
        pop_category['PopulationCategoryID'] == row['PopulationCategoryID']
        ]['PopulationCategoryDescription'].values[0]

In [10]:
samp_state['PopulationCategory'] = samp_state.apply(get_population_category, axis=1)

In [11]:
samp_state.T

                                             4
USStateID                                    5
USStateName                         California
PopulationCategoryID                         7
PopulationDensityID                          5
RuralID                                      4
TrialStructureID                             1
AppellateCriminalStructureID                 4
TrialCriminalProcessingID                    1
DeathPenaltyID                               1
TrialCaseloadSizeID                          6
DisplayOrder                                 5
PopulationDensity                      201-500
PopulationCategory            98901 to highest

### <font color='green'>Rural</font>

In [12]:
def get_rural_description(row):
    return rural[rural['RuralID'] == row['RuralID']]['RuralDescription'].values[0]

In [13]:
samp_state['Rural'] = samp_state.apply(get_rural_description, axis=1)

In [14]:
samp_state.T

                                                                        4
USStateID                                                               5
USStateName                                                    California
PopulationCategoryID                                                    7
PopulationDensityID                                                     5
RuralID                                                                 4
TrialStructureID                                                        1
AppellateCriminalStructureID                                            4
TrialCriminalProcessingID                                               1
DeathPenaltyID                                                          1
TrialCaseloadSizeID                                                     6
DisplayOrder                                                            5
PopulationDensity                                                 201-500
PopulationCategory                                       98901 to highest
Rural                         Less than or equal to 15% of the population

### <font color='green'>Trial Structure</font>

In [15]:
def get_trial_structure(row):
    return trial_struct[trial_struct['TrialStructureID'] == row['TrialStructureID']]['TrialStructureDescription'].values[0]

In [16]:
samp_state['TrialStructure'] = samp_state.apply(get_trial_structure, axis=1)

In [17]:
samp_state.T

                                                                        4
USStateID                                                               5
USStateName                                                    California
PopulationCategoryID                                                    7
PopulationDensityID                                                     5
RuralID                                                                 4
TrialStructureID                                                        1
AppellateCriminalStructureID                                            4
TrialCriminalProcessingID                                               1
DeathPenaltyID                                                          1
TrialCaseloadSizeID                                                     6
DisplayOrder                                                            5
PopulationDensity                                                 201-500
PopulationCategory                                       98901 to highest
Rural                         Less than or equal to 15% of the population
TrialStructure                                              Single Tiered

### <font color='green'>Appellate Criminal Structure</font>

In [18]:
def add_appellate_crim_struct(row):
    return crim_appeals_struct[
        crim_appeals_struct['AppellateCriminalStructureID'] == row['AppellateCriminalStructureID']
        ]['AppellateCriminalStructureDescription'].values[0]

In [19]:
samp_state['AppCrimStructure'] = samp_state.apply(add_appellate_crim_struct, axis=1)

In [20]:
samp_state.T

                                                                        4
USStateID                                                               5
USStateName                                                    California
PopulationCategoryID                                                    7
PopulationDensityID                                                     5
RuralID                                                                 4
TrialStructureID                                                        1
AppellateCriminalStructureID                                            4
TrialCriminalProcessingID                                               1
DeathPenaltyID                                                          1
TrialCaseloadSizeID                                                     6
DisplayOrder                                                            5
PopulationDensity                                                 201-500
PopulationCategory                                       98901 to highest
Rural                         Less than or equal to 15% of the population
TrialStructure                                              Single Tiered
AppCrimStructure                         COLR Discretionary/IAC Mandatory

### <font color='green'>Trial Criminal Processing</font>

In [21]:
def add_trial_criminal_process(row):
    return trial_criminal_proc[
        trial_criminal_proc['TrialCriminalProcessingID'] == row['TrialCriminalProcessingID']
        ]['TrialCriminalProcessingDescription'].values[0]

In [22]:
samp_state['TrialCriminalProc'] = samp_state.apply(add_trial_criminal_process, axis=1)
samp_state.T

                                                                        4
USStateID                                                               5
USStateName                                                    California
PopulationCategoryID                                                    7
PopulationDensityID                                                     5
RuralID                                                                 4
TrialStructureID                                                        1
AppellateCriminalStructureID                                            4
TrialCriminalProcessingID                                               1
DeathPenaltyID                                                          1
TrialCaseloadSizeID                                                     6
DisplayOrder                                                            5
PopulationDensity                                                 201-500
PopulationCategory                                       98901 to highest
Rural                         Less than or equal to 15% of the population
TrialStructure                                              Single Tiered
AppCrimStructure                         COLR Discretionary/IAC Mandatory
TrialCriminalProc                                           Single Tiered

### <font color='green'>Death Penalty</font>

In [23]:
def get_death_penalty(row):
    return death_penalty[
        death_penalty['DeathPenaltyID'] == row['DeathPenaltyID']
        ]['DeathPenaltyDescription'].values[0]

In [24]:
samp_state['DeathPenalty'] = samp_state.apply(get_death_penalty, axis=1)

In [25]:
samp_state.T

                                                                        4
USStateID                                                               5
USStateName                                                    California
PopulationCategoryID                                                    7
PopulationDensityID                                                     5
RuralID                                                                 4
TrialStructureID                                                        1
AppellateCriminalStructureID                                            4
TrialCriminalProcessingID                                               1
DeathPenaltyID                                                          1
TrialCaseloadSizeID                                                     6
DisplayOrder                                                            5
PopulationDensity                                                 201-500
PopulationCategory                                       98901 to highest
Rural                         Less than or equal to 15% of the population
TrialStructure                                              Single Tiered
AppCrimStructure                         COLR Discretionary/IAC Mandatory
TrialCriminalProc                                           Single Tiered
DeathPenalty                                                          Yes

### <font color='green'>Trial Caseload Size</font>

In [26]:
def get_trial_caseload_size(row):
    return caseload_size[caseload_size['CaseloadSizeID'] == row['TrialCaseloadSizeID']]['CaseloadSizeDescription'].values[0]

In [27]:
samp_state['CaseloadSize'] = samp_state.apply(get_trial_caseload_size, axis=1)

In [28]:
samp_state.T

                                                                        4
USStateID                                                               5
USStateName                                                    California
PopulationCategoryID                                                    7
PopulationDensityID                                                     5
RuralID                                                                 4
TrialStructureID                                                        1
AppellateCriminalStructureID                                            4
TrialCriminalProcessingID                                               1
DeathPenaltyID                                                          1
TrialCaseloadSizeID                                                     6
DisplayOrder                                                            5
PopulationDensity                                                 201-500
PopulationCategory                                       98901 to highest
Rural                         Less than or equal to 15% of the population
TrialStructure                                              Single Tiered
AppCrimStructure                         COLR Discretionary/IAC Mandatory
TrialCriminalProc                                           Single Tiered
DeathPenalty                                                          Yes
CaseloadSize                                               Over 6 Million

### <font color='green'>Neighbors</font>

In [29]:
def get_neighboring_states(us_state_name=None):
    us_state_id = us_state[us_state['USStateName'] == us_state_name]['USStateID'].values[0]
    neighbor_state_ids = list(neighbor[neighbor['USStateID'] == us_state_id]['NeighborUSStateID'].values)
    all_neighbor_states = []
    for neighbor_state_id in neighbor_state_ids:
        try:
            all_neighbor_states.append(us_state[
                us_state['USStateID'] == neighbor_state_id]['USStateName'].values[0])
        except IndexError:
            all_neighbor_states.append(None)
    return all_neighbor_states

In [30]:
get_neighboring_states(us_state_name='California')

['Oregon', 'Nevada', 'Arizona']

#### <font color='#BC2E0F'>As JSON</font>

In [31]:
# def get_states_and_neighbors_json():
#     states_and_neighbors = dict()
#     for idx, row in us_state.iterrows():
#         states_and_neighbors[
#             row['USStateName']] = get_neighboring_states(us_state_name=row['USStateName'])
#     return states_and_neighbors

In [84]:
# states_and_neighbors = get_states_and_neighbors_json() # <<< TODO: Save to JSON

In [85]:
# states_and_neighbors

In [86]:
# states_and_neighbors['California']

In [87]:
# states_and_neighbors['Colorado']

#### <font color='#BC2E0F'>As DataFrame</font>

In [32]:
def get_states_and_neighbors_df(row):
    return get_neighboring_states(us_state_name=row['USStateName'])

In [33]:
samp_state['Neighbors'] = samp_state.apply(get_states_and_neighbors_df, axis=1)

In [34]:
samp_state.T

                                                                        4
USStateID                                                               5
USStateName                                                    California
PopulationCategoryID                                                    7
PopulationDensityID                                                     5
RuralID                                                                 4
TrialStructureID                                                        1
AppellateCriminalStructureID                                            4
TrialCriminalProcessingID                                               1
DeathPenaltyID                                                          1
TrialCaseloadSizeID                                                     6
DisplayOrder                                                            5
PopulationDensity                                                 201-500
PopulationCategory                                       98901 to highest
Rural                         Less than or equal to 15% of the population
TrialStructure                                              Single Tiered
AppCrimStructure                         COLR Discretionary/IAC Mandatory
TrialCriminalProc                                           Single Tiered
DeathPenalty                                                          Yes
CaseloadSize                                               Over 6 Million
Neighbors                                       [Oregon, Nevada, Arizona]

### <font color='green'>Court Names</font>

In [35]:
def get_state_court_names(row):
    state_court_ids = list(us_state_court[us_state_court['USStateID'] == row['USStateID']]['CourtID'].values)
    all_state_courts = []
    for court_id in state_court_ids:
        try:
            all_state_courts.append(courts[courts['CourtID'] == court_id]['CourtName'].values[0])
        except IndexError:
            print(colored('\nNo court names for CourtID "{}" in "{}"\n'.format(court_id, row['USStateName']), 'red', attrs=['bold']))
    return all_state_courts

In [36]:
samp_state['CourtNames'] = samp_state.apply(get_state_court_names, axis=1)

In [37]:
samp_state.T

                                                                        4
USStateID                                                               5
USStateName                                                    California
PopulationCategoryID                                                    7
PopulationDensityID                                                     5
RuralID                                                                 4
TrialStructureID                                                        1
AppellateCriminalStructureID                                            4
TrialCriminalProcessingID                                               1
DeathPenaltyID                                                          1
TrialCaseloadSizeID                                                     6
DisplayOrder                                                            5
PopulationDensity                                                 201-500
PopulationCategory                                       98901 to highest
Rural                         Less than or equal to 15% of the population
TrialStructure                                              Single Tiered
AppCrimStructure                         COLR Discretionary/IAC Mandatory
TrialCriminalProc                                           Single Tiered
DeathPenalty                                                          Yes
CaseloadSize                                               Over 6 Million
Neighbors                                       [Oregon, Nevada, Arizona]
CourtNames                     [Supreme Court, Court of Appeal, Superior]

## <font color='red'> State Overview Queries / Comparisons</font>

In [94]:
s = 'California'
# s = 'New York'

In [95]:
# # State dropdown/select

# from bokeh.io import output_file, show
# from bokeh.layouts import widgetbox
# from bokeh.models.widgets import Dropdown

# output_file("dropdown.html")

# menu = [("Item 1", "item_1"), ("Item 2", "item_2"), None, ("Item 3", "item_3")]
# dropdown = Dropdown(label="Dropdown button", button_type="warning", menu=menu)

# show(widgetbox(dropdown))

In [96]:
# Select state stats
samp_state = us_state[us_state['USStateName'] == s]

In [97]:
# samp_state.T

In [98]:
%%time 

# Add Population Density
samp_state['PopulationDensity'] = samp_state.apply(get_population_density, axis=1)

# Add Population Category
samp_state['PopulationCategory'] = samp_state.apply(get_population_category, axis=1)

# Add Rural Population
samp_state['Rural'] = samp_state.apply(get_rural_description, axis=1)

# Add Trial Structure
samp_state['TrialStructure'] = samp_state.apply(get_trial_structure, axis=1)

# Add Appellate Criminal Structure
samp_state['AppCrimStructure'] = samp_state.apply(add_appellate_crim_struct, axis=1)

# Add Criminal Trial Procedure
samp_state['TrialCriminalProc'] = samp_state.apply(add_trial_criminal_process, axis=1)

# Add Death Penalty
samp_state['DeathPenalty'] = samp_state.apply(get_death_penalty, axis=1)

# Add Trial Caseload Size
samp_state['CaseloadSize'] = samp_state.apply(get_trial_caseload_size, axis=1)

# Add Neighbors
samp_state['Neighbors'] = samp_state.apply(get_states_and_neighbors_df, axis=1)

# Add Court Names
samp_state['CourtNames'] = samp_state.apply(get_state_court_names, axis=1)

CPU times: user 154 ms, sys: 2 ms, total: 156 ms
Wall time: 154 ms

In [99]:
state_overview_cols = [
    'PopulationDensity', 'PopulationCategory', 'Rural', 
    'TrialStructure', 'AppCrimStructure', 'TrialCriminalProc', 
    'DeathPenalty', 'CaseloadSize', 'Neighbors', 'CourtNames']

print(colored('\n{}'.format(s), 'blue', attrs=['bold']))
samp_state[state_overview_cols].T

California

                                                              4
PopulationDensity                                       201-500
PopulationCategory                             98901 to highest
Rural               Less than or equal to 15% of the population
TrialStructure                                    Single Tiered
AppCrimStructure               COLR Discretionary/IAC Mandatory
TrialCriminalProc                                 Single Tiered
DeathPenalty                                                Yes
CaseloadSize                                     Over 6 Million
Neighbors                             [Oregon, Nevada, Arizona]
CourtNames           [Supreme Court, Court of Appeal, Superior]

### <font color='red'>TODO: Build dropdown widget for selection of multiple states</font>

## <font color='orange'>All States</font>

In [298]:
all_states = us_state.copy()
all_states.head()

,USStateID,USStateName,PopulationCategoryID,PopulationDensityID,RuralID,TrialStructureID,AppellateCriminalStructureID,TrialCriminalProcessingID,DeathPenaltyID,TrialCaseloadSizeID,DisplayOrder
0,1,Alabama,4,3,2,2,6,2,-99,3,1
1,2,Alaska,1,1,2,2,4,1,0,1,2
2,3,Arizona,5,3,4,2,4,2,1,4,3
3,4,Arkansas,3,3,2,2,4,1,1,4,4
4,5,California,7,5,4,1,4,1,1,6,5

## <font color='red'>First DataFrame "all_states_display"</font>

In [299]:
all_states_display = us_state.copy()

In [300]:
all_states_display['NeighboringStates'] = all_states_display.apply(get_states_and_neighbors_df, axis=1)

In [301]:
all_states_display[['USStateName', 'NeighboringStates']].head()

  USStateName                                  NeighboringStates
0     Alabama         [Mississippi, Tennessee, Georgia, Florida]
1      Alaska                                             [None]
2     Arizona   [California, Nevada, Utah, Colorado, New Mexico]
3    Arkansas  [Louisiana, Texas, Oklahoma, Missouri, Tenness...
4  California                          [Oregon, Nevada, Arizona]

In [302]:
all_states['PopulationDensity'] = all_states.apply(get_population_density, axis=1)
all_states['PopulationCategory'] = all_states.apply(get_population_category, axis=1)
all_states['Rural'] = all_states.apply(get_rural_description, axis=1)
all_states['TrialStructure'] = all_states.apply(get_trial_structure, axis=1)
all_states['AppCrimStructure'] = all_states.apply(add_appellate_crim_struct, axis=1)
all_states['TrialCriminalProc'] = all_states.apply(add_trial_criminal_process, axis=1)
all_states['DeathPenalty'] = all_states.apply(get_death_penalty, axis=1)
all_states['CaseloadSize'] = all_states.apply(get_trial_caseload_size, axis=1)

In [303]:
id_cols = [
    'USStateID', 'PopulationCategoryID', 'PopulationDensityID', 'DisplayOrder',
    'RuralID', 'TrialStructureID', 'AppellateCriminalStructureID', 'DeathPenaltyID',
    'TrialCriminalProcessingID', 'DenathPenaltyID', 'TrialCaseloadSizeID']

all_states[[col for col in all_states.columns if col not in id_cols]].head()

,USStateName,PopulationDensity,PopulationCategory,Rural,TrialStructure,AppCrimStructure,TrialCriminalProc,DeathPenalty,CaseloadSize
0,Alabama,51-100,35801 to 47800,26-49% of the population,Two Tiered,IAC by Subject Matter,Two Tiered,Missing information,501 Thousand-1 Million
1,Alaska,0-20,up to 9900,26-49% of the population,Two Tiered,COLR Discretionary/IAC Mandatory,Single Tiered,No,Under 200 Thousand
2,Arizona,51-100,47801 to 64900,Less than or equal to 15% of the population,Two Tiered,COLR Discretionary/IAC Mandatory,Two Tiered,Yes,1.1 Million-3 Million
3,Arkansas,51-100,18601 to 35800,26-49% of the population,Two Tiered,COLR Discretionary/IAC Mandatory,Single Tiered,Yes,1.1 Million-3 Million
4,California,201-500,98901 to highest,Less than or equal to 15% of the population,Single Tiered,COLR Discretionary/IAC Mandatory,Single Tiered,Yes,Over 6 Million

### <font color='red'>INSERT Population Density Slider</font>

In [304]:
def get_pop_density_low(row):
    return row['PopulationDensity'].split('-')[0]

def get_pop_density_high(row):
    return row['PopulationDensity'].split('-')[-1]

In [305]:
all_states['PopulationDensity'].value_counts().sort_index(ascending=False)

51-100          10
501-1000         4
21-50            8
201-500          9
101-200         11
1001-highest     4
0-20             7
Name: PopulationDensity, dtype: int64

In [306]:
all_states_display = all_states.copy()

In [307]:
all_states_display['PopulationLow'] = all_states_display.apply(get_pop_density_low, axis=1)
all_states_display['PopulationHigh'] = all_states_display.apply(get_pop_density_high, axis=1)

In [308]:
all_states_display[['USStateName', 'PopulationLow', 'PopulationHigh']].head()

  USStateName PopulationLow PopulationHigh
0     Alabama            51            100
1      Alaska             0             20
2     Arizona            51            100
3    Arkansas            51            100
4  California           201            500

__Remove `highest` from values and convert to numeric__

In [309]:
def remove_highest_str(row, col):
    if row[col] == 'highest':
        return np.nan
    else:
        return row[col]

In [310]:
all_states_display['PopulationHigh'] = all_states_display.apply(remove_highest_str, args=('PopulationHigh',), axis=1)

In [311]:
all_states_display['PopulationLow'].value_counts()

101     11
51      10
201      9
21       8
0        7
1001     4
501      4
Name: PopulationLow, dtype: int64

In [312]:
all_states_display['PopulationHigh'].value_counts()

200     11
100     10
500      9
50       8
20       7
1000     4
Name: PopulationHigh, dtype: int64

In [313]:
all_states_display['PopulationLow'] = all_states_display['PopulationLow'].astype('float64')
all_states_display['PopulationHigh'] = all_states_display['PopulationHigh'].astype('float64')

In [314]:
print(all_states_display[['PopulationLow', 'PopulationHigh']].dtypes)
all_states_display[['USStateName', 'PopulationLow', 'PopulationHigh']].head()

PopulationLow     float64
PopulationHigh    float64
dtype: object

  USStateName  PopulationLow  PopulationHigh
0     Alabama           51.0           100.0
1      Alaska            0.0            20.0
2     Arizona           51.0           100.0
3    Arkansas           51.0           100.0
4  California          201.0           500.0

### <font color='red'>INSERT Population Category Slider</font>

In [315]:
all_states_display[['USStateName', 'PopulationCategory']].head()

  USStateName PopulationCategory
0     Alabama     35801 to 47800
1      Alaska         up to 9900
2     Arizona     47801 to 64900
3    Arkansas     18601 to 35800
4  California   98901 to highest

In [316]:
def add_population_category_low(row):
    return row['PopulationCategory'].split(' to ')[0]

def add_population_category_high(row):
    return row['PopulationCategory'].split(' to ')[-1]

In [317]:
all_states_display['PopulationCategoryLow'] = all_states_display.apply(add_population_category_low, axis=1)
all_states_display['PopulationCategoryHigh'] = all_states_display.apply(add_population_category_high, axis=1)

In [318]:
all_states_display['PopulationCategoryLow'].value_counts()

up       9
35801    8
47801    8
64901    7
98901    7
18601    7
9901     7
Name: PopulationCategoryLow, dtype: int64

In [319]:
all_states_display['PopulationCategoryHigh'].value_counts()

9900       9
47800      8
64900      8
98900      7
35800      7
18600      7
highest    7
Name: PopulationCategoryHigh, dtype: int64

In [320]:
all_states_display['PopulationCategoryHigh'] = all_states_display.apply(remove_highest_str, args=('PopulationCategoryHigh',), axis=1)

In [321]:
def remove_up_str(row, col):
    if row[col] == 'up':
        return 0
    else:
        return row[col]

In [322]:
all_states_display['PopulationCategoryLow'] = all_states_display.apply(remove_up_str, args=('PopulationCategoryLow',), axis=1)

In [323]:
all_states_display['PopulationCategoryLow'] = all_states_display['PopulationCategoryLow'].astype('float64')
all_states_display['PopulationCategoryHigh'] = all_states_display['PopulationCategoryHigh'].astype('float64')

In [324]:
print(all_states_display[['PopulationCategoryLow', 'PopulationCategoryHigh']].dtypes)
all_states_display[['USStateName', 'PopulationCategoryLow', 'PopulationCategoryHigh']].head()

PopulationCategoryLow     float64
PopulationCategoryHigh    float64
dtype: object

  USStateName  PopulationCategoryLow  PopulationCategoryHigh
0     Alabama                35801.0                 47800.0
1      Alaska                    0.0                  9900.0
2     Arizona                47801.0                 64900.0
3    Arkansas                18601.0                 35800.0
4  California                98901.0                     NaN

### <font color='red'>INSERT Rural % Slider</font>

In [325]:
all_states_display['Rural'].value_counts()

26-49% of the population                          22
16-25% of the population                          13
Less than or equal to 15% of the population       11
Greater than or equal to 50% of the population     5
Missing information                                2
Name: Rural, dtype: int64

In [326]:
def get_rural_low(row):
    if '-' in row['Rural']:
        return row['Rural'].split('-')[0]
    elif 'Less than or equal to' in row['Rural']:
        return 0
    elif 'Greater than or equal to' in row['Rural']:
        return re.search('\d+', row['Rural']).group(0)
    elif 'Missing information' in row['Rural']:
        return np.nan

In [327]:
all_states_display['RuralLow'] = all_states_display.apply(get_rural_low, axis=1)

In [328]:
all_states_display['RuralLow'] = all_states_display['RuralLow'].astype('float64')

In [329]:
def get_rural_high(row):
    if '-' in row['Rural']:
        return row['Rural'].split('-')[-1].rstrip('% of the population')
    elif 'Less than or equal to' in row['Rural']:
        return re.search('\d+', row['Rural']).group(0)
    elif 'Greater than or equal to' in row['Rural']:
        return 100
    elif 'Missing information' in row['Rural']:
        return np.nan

In [330]:
all_states_display['RuralHigh'] = all_states_display.apply(get_rural_high, axis=1)

In [331]:
all_states_display['RuralHigh'] = all_states_display['RuralHigh'].astype('float64')

In [332]:
print(all_states_display[['RuralLow', 'RuralHigh']].dtypes)
all_states_display[['USStateName', 'RuralLow', 'RuralHigh']].head()

RuralLow     float64
RuralHigh    float64
dtype: object

  USStateName  RuralLow  RuralHigh
0     Alabama      26.0       49.0
1      Alaska      26.0       49.0
2     Arizona       0.0       15.0
3    Arkansas      26.0       49.0
4  California       0.0       15.0

### <font color='red'>INSERT Caseload Size Slider</font>

In [333]:
all_states_display['CaseloadSize'].value_counts()

1.1 Million-3 Million        12
501 Thousand-1 Million       12
Under 200 Thousand           11
201 Thousand-500 Thousand     8
3.1 Million-6 Million         7
Over 6 Million                3
Name: CaseloadSize, dtype: int64

In [334]:
def get_caseload_size_low(row):
    if row['CaseloadSize'] == 'Under 200 Thousand':
        return 0
    elif row['CaseloadSize'] == '201 Thousand-500 Thousand':
        return 201000
    elif row['CaseloadSize'] == '501 Thousand-1 Million':
        return 501000
    elif row['CaseloadSize'] == '1.1 Million-3 Million':
        return 1100000
    elif row['CaseloadSize'] == '3.1 Million-6 Million':
        return 3100000
    elif row['CaseloadSize'] == 'Over 6 Million':
        return 6000000
    
def get_caseload_size_high(row):
    if row['CaseloadSize'] == 'Under 200 Thousand':
        return 200000
    elif row['CaseloadSize'] == '201 Thousand-500 Thousand':
        return 500000
    elif row['CaseloadSize'] == '501 Thousand-1 Million':
        return 1000000
    elif row['CaseloadSize'] == '1.1 Million-3 Million':
        return 3000000
    elif row['CaseloadSize'] == '3.1 Million-6 Million':
        return 6000000
    elif row['CaseloadSize'] == 'Over 6 Million':
        return 10000000 # <<< Arbitrary value

In [335]:
all_states_display['CaseloadLow'] = all_states_display.apply(get_caseload_size_low, axis=1)
all_states_display['CaseloadHigh'] = all_states_display.apply(get_caseload_size_high, axis=1)

In [336]:
print(all_states_display[['CaseloadLow', 'CaseloadHigh']].dtypes)
all_states_display[['USStateName', 'CaseloadSize', 'CaseloadLow', 'CaseloadHigh']].head()

CaseloadLow     int64
CaseloadHigh    int64
dtype: object

  USStateName            CaseloadSize  CaseloadLow  CaseloadHigh
0     Alabama  501 Thousand-1 Million       501000       1000000
1      Alaska      Under 200 Thousand            0        200000
2     Arizona   1.1 Million-3 Million      1100000       3000000
3    Arkansas   1.1 Million-3 Million      1100000       3000000
4  California          Over 6 Million      6000000      10000000

## <font color='red'> QGrid Widget </font>

In [139]:
# !pip install qgrid

In [140]:
# !jupyter nbextension enable --py --sys-prefix qgrid

In [141]:
import qgrid

In [142]:
# all_states_display.to_csv('all_states_display.csv', index=False)

In [143]:
# all_states_display.T

In [144]:
# all_states_display[['RuralLow', 'RuralHigh']].dtypes

In [145]:
# usastates

In [337]:
qgrid_df = all_states_display.copy()

In [338]:
display_cols = [
    'State', 'PopDensity', 'Rural', 
    'TrialStructure', 'CrimProc', 
    'DeathPen', 'CaseloadSize']

In [339]:
qgrid_df.rename(columns={
    'USStateName': 'State', 
    'PopulationDensity': 'PopDensity', 
#     'PopulationCategory': 'PopCategory',
    'TrialCriminalProc': 'CrimProc',
    'DeathPenalty': 'DeathPen'}, inplace=True)

In [340]:
qgrid_widget = qgrid.show_grid(qgrid_df[display_cols], show_toolbar=True)
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [147]:
all_states_display['TrialCriminalProc'].value_counts()

Two Tiered       27
Single Tiered    26
Name: TrialCriminalProc, dtype: int64

# <font color='blue'>State Court Stats</font>

<img src='StateCourtData.png'></img>

In [148]:
all_states_display.head(3)

,USStateID,USStateName,PopulationCategoryID,PopulationDensityID,RuralID,TrialStructureID,AppellateCriminalStructureID,TrialCriminalProcessingID,DeathPenaltyID,TrialCaseloadSizeID,...,DeathPenalty,CaseloadSize,PopulationLow,PopulationHigh,PopulationCategoryLow,PopulationCategoryHigh,RuralLow,RuralHigh,CaseloadLow,CaseloadHigh
0,1,Alabama,4,3,2,2,6,2,-99,3,...,Missing information,501 Thousand-1 Million,51.0,100.0,35801.0,47800.0,26.0,49.0,501000,1000000
1,2,Alaska,1,1,2,2,4,1,0,1,...,No,Under 200 Thousand,0.0,20.0,0.0,9900.0,26.0,49.0,0,200000
2,3,Arizona,5,3,4,2,4,2,1,4,...,Yes,1.1 Million-3 Million,51.0,100.0,47801.0,64900.0,0.0,15.0,1100000,3000000

### <font color='green'>State Court Names</font>

#### <font color='red'>Possible Issue: `No court names for CourtID "244" in "Oklahoma"` (See below)</font>

In [149]:
# def get_state_court_names(row):
#     state_court_ids = list(us_state_court[us_state_court['USStateID'] == row['USStateID']]['CourtID'].values)
#     all_state_courts = []
#     for court_id in state_court_ids:
#         try:
#             all_state_courts.append(courts[courts['CourtID'] == court_id]['CourtName'].values[0])
#         except IndexError:
#             print(colored('\nNo court names for CourtID "{}" in "{}"\n'.format(court_id, row['USStateName']), 'red', attrs=['bold']))
#     return all_state_courts


# Moved this function above

In [150]:
state_court_names = all_states_display.apply(get_state_court_names, axis=1)

No court names for CourtID "244" in "Oklahoma"

In [151]:
state_court_names[0]

['Supreme Court',
 'Court of Civil Appeals',
 'Court of Criminal Appeals',
 'Circuit',
 'District',
 'Municipal',
 'Probate']

In [152]:
all_states_display['AllStateCourtNames'] = all_states_display.apply(get_state_court_names, axis=1)

No court names for CourtID "244" in "Oklahoma"

In [156]:
# all_states_display[['USStateName', 'NeighboringStates', 'AllStateCourtNames']].head()

In [155]:
all_states_display.head().T

,0,1,2,3,4
USStateID,1,2,3,4,5
USStateName,Alabama,Alaska,Arizona,Arkansas,California
PopulationCategoryID,4,1,5,3,7
PopulationDensityID,3,1,3,3,5
RuralID,2,2,4,2,4
TrialStructureID,2,2,2,2,1
AppellateCriminalStructureID,6,4,4,4,4
TrialCriminalProcessingID,2,1,2,1,1
DeathPenaltyID,-99,0,1,1,1
TrialCaseloadSizeID,3,1,4,4,6
DisplayOrder,1,2,3,4,5
PopulationDensity,51-100,0-20,51-100,51-100,201-500
PopulationCategory,35801 to 47800,up to 9900,47801 to 64900,18601 to 35800,98901 to highest
Rural,26-49% of the population,26-49% of the population,Less than or equal to 15% of the population,26-49% of the population,Less than or equal to 15% of the population
TrialStructure,Two Tiered,Two Tiered,Two Tiered,Two Tiered,Single Tiered
AppCrimStructure,IAC by Subject Matter,COLR Discretionary/IAC Mandatory,COLR Discretionary/IAC Mandatory,COLR Discretionary/IAC Mandatory,COLR Discretionary/IAC Mandatory
TrialCriminalProc,Two Tiered,Single Tiered,Two Tiered,Single Tiered,Single Tiered
DeathPenalty,Missing information,No,Yes,Yes,Yes
CaseloadSize,501 Thousand-1 Million,Under 200 Thousand,1.1 Million-3 Million,1.1 Million-3 Million,Over 6 Million
PopulationLow,51,0,51,51,201
PopulationHigh,100,20,100,100,500
PopulationCategoryLow,35801,0,47801,18601,98901
PopulationCategoryHigh,47800,9900,64900,35800,NaN
RuralLow,26,26,0,26,0
RuralHigh,49,49,15,49,15
CaseloadLow,501000,0,1100000,1100000,6000000
CaseloadHigh,1000000,200000,3000000,3000000,10000000
AllStateCourtNames,"[Supreme Court, Court of Civil Appeals, Court ...","[Supreme Court, Court of Appeals, District, Su...","[Supreme Court, Court of Appeal, Justice of th...","[Supreme Court, Court of Appeals, Circuit, Dis...","[Supreme Court, Court of Appeal, Superior]"

In [162]:
!ls

OustandingQuestionReCourtIDs196And300.png
StateCourtData.png
StateData.png
Viz-A-Thon Definitions.docx
Vizathon-Data
all_court_case_types.csv
all_states_display.csv
court_hierarchy.csv
csv_files_for_alvin
download_state_case_types.js
download_state_court_details.js
download_state_court_hiearchy.js
download_state_courts_jurisdiction_funding.js
download_states_overview.js
dropdown.html
myapp.py
names_of_courts_by_state.csv
resources
samples
simple.dot
simple.png
us_states_and_courts.csv
viz_a_thon_EDA.ipynb
viz_a_thon_app
viz_a_thon_data_model.png

In [163]:
# display_cols = [
#     'USStateName', 'PopulationDensity', 'PopulationCategory', 'Rural', 
#     'TrialStructure', 'AppCrimStructure', 'TrialCriminalProc', 
#     'DeathPenalty', 'CaseloadSize', 'AllStateCourtNames']
# all_states_display[display_cols].to_csv('csv_files_for_alvin/states_overview.csv')

## <font color='red'>Second DataFrame: "us_states_and_courts"</font>

In [367]:
us_state_court.shape

(290, 3)

In [368]:
courts.shape

(291, 9)

In [369]:
us_states_and_courts = pd.merge(us_state_court, courts, on='CourtID')
us_states_and_courts.head(3)

,USStateCourtID,CourtID,USStateID,CourtName,CourtLevelID,CSPAggID,FundingID,AppealFromAdminAgency,Notes,Link,DisplayOrder
0,1,1,1,Supreme Court,COLR,COLR,S,False,Assigns cases to the Court of Civil Appeals.,http://judicial.alabama.gov/supreme.cfm,1
1,2,2,1,Court of Civil Appeals,IAC,IAC,S,False,-99,http://judicial.alabama.gov/civil.cfm,2
2,3,3,1,Court of Criminal Appeals,IAC,IAC,S,False,-99,http://judicial.alabama.gov/criminal.cfm,3

In [370]:
all_states_display.head(3)

,USStateID,USStateName,PopulationCategoryID,PopulationDensityID,RuralID,TrialStructureID,AppellateCriminalStructureID,TrialCriminalProcessingID,DeathPenaltyID,TrialCaseloadSizeID,...,DeathPenalty,CaseloadSize,PopulationLow,PopulationHigh,PopulationCategoryLow,PopulationCategoryHigh,RuralLow,RuralHigh,CaseloadLow,CaseloadHigh
0,1,Alabama,4,3,2,2,6,2,-99,3,...,N/A,500k - 1M,51.0,100.0,35801.0,47800.0,26.0,49.0,501000,1000000
1,2,Alaska,1,1,2,2,4,1,0,1,...,No,< 200k,0.0,20.0,0.0,9900.0,26.0,49.0,0,200000
2,3,Arizona,5,3,4,2,4,2,1,4,...,Yes,1.1M - 3M,51.0,100.0,47801.0,64900.0,0.0,15.0,1100000,3000000

In [371]:
# Add State Name to `us_states_and_courts`

def add_state_name(row):
    return all_states_display[all_states_display['USStateID'] == row['USStateID']]['USStateName'].values[0]

In [372]:
us_states_and_courts['State'] = us_states_and_courts.apply(add_state_name, axis=1)

In [373]:
us_states_and_courts.head(3)

,USStateCourtID,CourtID,USStateID,CourtName,CourtLevelID,CSPAggID,FundingID,AppealFromAdminAgency,Notes,Link,DisplayOrder,State
0,1,1,1,Supreme Court,COLR,COLR,S,False,Assigns cases to the Court of Civil Appeals.,http://judicial.alabama.gov/supreme.cfm,1,Alabama
1,2,2,1,Court of Civil Appeals,IAC,IAC,S,False,-99,http://judicial.alabama.gov/civil.cfm,2,Alabama
2,3,3,1,Court of Criminal Appeals,IAC,IAC,S,False,-99,http://judicial.alabama.gov/criminal.cfm,3,Alabama

In [374]:
us_states_and_courts[(us_states_and_courts['State'] == 'Alabama') & (us_states_and_courts['CourtName'] == 'Supreme Court')]

,USStateCourtID,CourtID,USStateID,CourtName,CourtLevelID,CSPAggID,FundingID,AppealFromAdminAgency,Notes,Link,DisplayOrder,State
0,1,1,1,Supreme Court,COLR,COLR,S,False,Assigns cases to the Court of Civil Appeals.,http://judicial.alabama.gov/supreme.cfm,1,Alabama

In [375]:
# Add funding
def add_funding_description(row):
    return funding[funding['FundingID'] == row['FundingID']]['FundingDescription'].values[0]

In [376]:
funding.head(3)

  FundingID FundingName       FundingDescription  DisplayOrder
0         S       State             State funded             1
1         M       Mixed  State and local funding             2
2         L       Local           Locally funded             3

In [377]:
us_states_and_courts['FundingDescription'] = us_states_and_courts.apply(add_funding_description, axis=1)

In [378]:
us_states_and_courts[['State', 'CourtName', 'Notes', 'FundingDescription', 'Link']].head(3)

,State,CourtName,Notes,FundingDescription,Link
0,Alabama,Supreme Court,Assigns cases to the Court of Civil Appeals.,State funded,http://judicial.alabama.gov/supreme.cfm
1,Alabama,Court of Civil Appeals,-99,State funded,http://judicial.alabama.gov/civil.cfm
2,Alabama,Court of Criminal Appeals,-99,State funded,http://judicial.alabama.gov/criminal.cfm

In [379]:
# Add Court Level Description
def add_court_level_description(row):
    return court_level[court_level['CourtLevelID'] == row['CourtLevelID']]['CourtLevelDescription'].values[0]

In [380]:
us_states_and_courts['CourtLevelDescription'] = us_states_and_courts.apply(add_court_level_description, axis=1)

In [381]:
us_states_and_courts[['State', 'CourtName', 'CourtLevelDescription', 'Notes', 'FundingDescription', 'Link']].head(3)

,State,CourtName,CourtLevelDescription,Notes,FundingDescription,Link
0,Alabama,Supreme Court,Court of Last Resource,Assigns cases to the Court of Civil Appeals.,State funded,http://judicial.alabama.gov/supreme.cfm
1,Alabama,Court of Civil Appeals,Intermediate Appellate Court,-99,State funded,http://judicial.alabama.gov/civil.cfm
2,Alabama,Court of Criminal Appeals,Intermediate Appellate Court,-99,State funded,http://judicial.alabama.gov/criminal.cfm

In [382]:
court_court_names.head(3)

   CourtCourtNameID  CourtNameID  CourtID
0                 1            1        2
1                 2            2        3
2                 3            3        1

In [383]:
us_states_and_courts.head()

,USStateCourtID,CourtID,USStateID,CourtName,CourtLevelID,CSPAggID,FundingID,AppealFromAdminAgency,Notes,Link,DisplayOrder,State,FundingDescription,CourtLevelDescription
0,1,1,1,Supreme Court,COLR,COLR,S,False,Assigns cases to the Court of Civil Appeals.,http://judicial.alabama.gov/supreme.cfm,1,Alabama,State funded,Court of Last Resource
1,2,2,1,Court of Civil Appeals,IAC,IAC,S,False,-99,http://judicial.alabama.gov/civil.cfm,2,Alabama,State funded,Intermediate Appellate Court
2,3,3,1,Court of Criminal Appeals,IAC,IAC,S,False,-99,http://judicial.alabama.gov/criminal.cfm,3,Alabama,State funded,Intermediate Appellate Court
3,4,106,1,Circuit,GJ,GJ,M,True,Jury trials.,http://judicial.alabama.gov/,4,Alabama,State and local funding,General Jurisdiction
4,5,107,1,District,LJ,LJ,M,False,No jury trials.,-99,5,Alabama,State and local funding,Limited Jurisdiction

In [384]:
print(court_court_names.shape)
print(us_states_and_courts.shape)

(340, 3)
(289, 14)

In [385]:
us_states_and_courts[us_states_and_courts['CourtID'] == 93]

,USStateCourtID,CourtID,USStateID,CourtName,CourtLevelID,CSPAggID,FundingID,AppealFromAdminAgency,Notes,Link,DisplayOrder,State,FundingDescription,CourtLevelDescription
253,255,93,46,Court of Appeals,IAC,IAC,S,False,-99,http://www.txcourts.gov/about-texas-courts/cou...,255,Texas,State funded,Intermediate Appellate Court

In [386]:
court_court_names[court_court_names['CourtID'] == 93]

     CourtCourtNameID  CourtNameID  CourtID
123               124          126       93
124               125          127       93
125               126          128       93
126               127          129       93
127               128          130       93
128               129          131       93
129               130          132       93
130               131          133       93
131               132          134       93
132               133          135       93
133               134          136       93
134               135          137       93
135               136          138       93
136               137          139       93

In [387]:
display_cols = [
    'State', 'CourtName', 'CourtLevelDescription', 
    'FundingDescription', 'AppealFromAdminAgency', 'Notes', 'Link']
us_states_and_courts[display_cols].head(3)

,State,CourtName,CourtLevelDescription,FundingDescription,AppealFromAdminAgency,Notes,Link
0,Alabama,Supreme Court,Court of Last Resource,State funded,False,Assigns cases to the Court of Civil Appeals.,http://judicial.alabama.gov/supreme.cfm
1,Alabama,Court of Civil Appeals,Intermediate Appellate Court,State funded,False,-99,http://judicial.alabama.gov/civil.cfm
2,Alabama,Court of Criminal Appeals,Intermediate Appellate Court,State funded,False,-99,http://judicial.alabama.gov/criminal.cfm

In [388]:
# Change `Court of Last RESOURCE` to `Court of Last RESORT`

def correct_court_level_description(row, col):
    if row[col] == 'Court of Last Resource':
        return 'Court of Last Resort'
    else:
        return row[col]

In [389]:
us_states_and_courts['CourtLevelDescription'] = us_states_and_courts.apply(correct_court_level_description, 
                                                                           args=('CourtLevelDescription',), axis=1)

In [390]:
qgrid_widget = qgrid.show_grid(us_states_and_courts[display_cols], show_toolbar=True)
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [394]:
us_states_and_courts[display_cols].to_csv('us_states_and_courts.csv', index=False)

In [391]:
def format_bools_for_bokeh(row):
    if row['AppealFromAdminAgency'] == True:
        return 'Yes'
    elif row['AppealFromAdminAgency'] == False:
        return 'No'

In [392]:
us_states_and_courts['AppealFromAdminAgency'] = us_states_and_courts.apply(format_bools_for_bokeh, axis=1)

In [393]:
us_states_and_courts['CourtLevelDescription'].value_counts()

Limited Jurisdiction            115
General Jurisdiction             72
Court of Last Resort             55
Intermediate Appellate Court     47
Name: CourtLevelDescription, dtype: int64

In [ ]:
us_states_and_courts['Notes'] = us_states_and_courts['Notes'].str.replace('-99', '')

In [193]:
# us_states_and_courts[display_cols].to_csv('csv_files_for_alvin/us_states_and_courts.csv', index=False)

## <font color='red'>Third DataFrame "names_of_courts_by_state"</font>

In [342]:
names_of_courts_by_state = court_court_names.copy()

In [343]:
names_of_courts_by_state.head(3)

   CourtCourtNameID  CourtNameID  CourtID
0                 1            1        2
1                 2            2        3
2                 3            3        1

In [344]:
# Add State name

def add_state_name(row):
    try:
        return us_states_and_courts[us_states_and_courts['CourtID'] == row['CourtID']]['State'].values[0]
    except IndexError:
        print(colored('Error! `CourtID`: {}'.format(row['CourtID']), 'red', attrs=['bold']))

In [345]:
names_of_courts_by_state['State'] = names_of_courts_by_state.apply(add_state_name, axis=1)

In [346]:
names_of_courts_by_state.head(3)

   CourtCourtNameID  CourtNameID  CourtID    State
0                 1            1        2  Alabama
1                 2            2        3  Alabama
2                 3            3        1  Alabama

In [347]:
court_names.head(3)

,CourtNameID,CourtNameName,NumberDivisions,NumberJudges,PanelDecisionID,NumberPanels,EFilingMandatoryID,EFilingFeeID,NumberOfIndividualCourts,EFilingMandatoryStatewideCivilID,EfilingMandatoryStatewideCriminalID,EfilingMandatoryStatewideDRID,EfilingMandatoryStatewideJuvenileID,EfilingMandatoryStatewideTrafficID,CaseManagementID,DisplayOrder
0,1,Court of Civil Appeals,-99,-99,-99,-99,-99,-99,-98,-98,-98,-98,-98,-98,-98,1
1,2,Court of Criminal Appeals,-99,-99,-99,-99,-99,-99,-98,-98,-98,-98,-98,-98,-98,2
2,3,Supreme Court,-99,-99,-99,-99,-99,-99,-98,-98,-98,-98,-98,-98,-98,3

In [348]:
names_of_courts_by_state = pd.merge(names_of_courts_by_state, court_names, on='CourtNameID')

In [349]:
names_of_courts_by_state.head(3)

,CourtCourtNameID,CourtNameID,CourtID,State,CourtNameName,NumberDivisions,NumberJudges,PanelDecisionID,NumberPanels,EFilingMandatoryID,EFilingFeeID,NumberOfIndividualCourts,EFilingMandatoryStatewideCivilID,EfilingMandatoryStatewideCriminalID,EfilingMandatoryStatewideDRID,EfilingMandatoryStatewideJuvenileID,EfilingMandatoryStatewideTrafficID,CaseManagementID,DisplayOrder
0,1,1,2,Alabama,Court of Civil Appeals,-99,-99,-99,-99,-99,-99,-98,-98,-98,-98,-98,-98,-98,1
1,2,2,3,Alabama,Court of Criminal Appeals,-99,-99,-99,-99,-99,-99,-98,-98,-98,-98,-98,-98,-98,2
2,3,3,1,Alabama,Supreme Court,-99,-99,-99,-99,-99,-99,-98,-98,-98,-98,-98,-98,-98,3

### <font color='red'>TODO: Ascertain distinction between -99 and -98</font>

In [350]:
# Add Panel Decision Description

def add_panel_decision_description(row):
    return panel_decision[
        panel_decision['PanelDecisionID'] == row['PanelDecisionID']
    ]['PanelDecisionDescription'].values[0]

In [351]:
names_of_courts_by_state['PanelDecisionDescription'] = names_of_courts_by_state.apply(
                                                        add_panel_decision_description, axis=1)

In [352]:
names_of_courts_by_state[['State', 'CourtNameName', 'PanelDecisionDescription']].iloc[36:39]

       State                     CourtNameName PanelDecisionDescription
36  Illinois   Fifth District Court of Appeals      Missing information
37  Illinois   First District Court of Appeals                      Yes
38  Illinois  Fourth District Court of Appeals      Missing information

In [353]:
# Add Case Management Description

def add_case_mgmt_description(row):
    return case_mgmt[
        case_mgmt['CaseManagementID'] == row['CaseManagementID']
        ]['CaseManagementDescription'].values[0]

In [354]:
names_of_courts_by_state['CaseManagementDescription'] = names_of_courts_by_state.apply(add_case_mgmt_description, axis=1)

In [355]:
names_of_courts_by_state[['State', 'CourtNameName', 'CaseManagementDescription']].tail()

,State,CourtNameName,CaseManagementDescription
335,Wisconsin,Circuit,Not all courts on the same case management system
336,Wisconsin,Municipal,Missing information
337,Wyoming,District,Missing information
338,Wyoming,Circuit,Missing information
339,Wyoming,Municipal,Missing information

In [356]:
court_case_type.head(3)

,CourtCaseTypeID,CourtID,CaseTypeID,AppealByRight,AppealByPermission,OriginalProceeding,InterlocutoryAppeal,Exclusive,Limited,MinValue,MaxValue,Notes,DisplayOrder
0,1,106,1,False,False,False,False,False,False,-98,-98,NaN,1
1,2,106,2,False,False,False,False,False,False,-98,-98,NaN,2
2,3,106,53,False,False,False,False,False,False,-98,-98,NaN,3

In [358]:
# names_of_courts_by_state.T

In [210]:
# court_case_type.head(3)

### <font color='red'>TODO: Change NULLs/-99/-98 to empty string for QGrid</font>
### <font color='red'>TODO: Demo expanded view (X)</font>

In [359]:
display_cols = [
    'State', 'CourtNameName', 'NumberDivisions', 'NumberJudges', 
    'NumberPanels', 'PanelDecisionDescription', 'NumberOfIndividualCourts', 
    'CaseManagementDescription']

qgrid_widget = qgrid.show_grid(names_of_courts_by_state[display_cols], show_toolbar=True)
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [ ]:
names_of_courts_by_state.fillna('', inplace=True) # Just added 9/26/18

In [366]:
names_of_courts_by_state[display_cols].to_csv('names_of_courts_by_state.csv', index=False)
# names_of_courts_by_state[display_cols].to_csv('csv_files_for_alvin/names_of_courts_by_state.csv', index=False)

In [360]:
names_of_courts_by_state['NumberPanels'].value_counts()

-98      227
-99       60
3         10
1          9
5          8
4          5
2-Jan      4
2          3
4-Jan      2
10         2
8          2
30         1
7          1
5-Jan      1
12         1
3-Jan      1
6          1
9          1
1-100      1
Name: NumberPanels, dtype: int64

In [361]:
def replace_neg_98_neg_99_with_nan(row, col):
    if row[col] in ['-99', '-98', -99, -98]:
        return np.nan
    else:
        return row[col]

In [362]:
names_of_courts_by_state['NumberPanels'] = names_of_courts_by_state.apply(replace_neg_98_neg_99_with_nan, args=('NumberPanels',), axis=1)

In [363]:
names_of_courts_by_state['NumberPanels'] = names_of_courts_by_state['NumberPanels'].str.replace('-Jan', '')
names_of_courts_by_state['NumberPanels'] = names_of_courts_by_state['NumberPanels'].str.replace('-100', '')

In [364]:
names_of_courts_by_state['NumberOfIndividualCourts'] = names_of_courts_by_state.apply(replace_neg_98_neg_99_with_nan, args=('NumberOfIndividualCourts',), axis=1)

In [365]:
names_of_courts_by_state['NumberOfIndividualCourts'].value_counts()

1.0      17
4.0       7
3.0       5
46.0      4
15.0      4
159.0     4
2.0       4
22.0      4
43.0      3
11.0      3
62.0      3
120.0     3
24.0      3
10.0      3
7.0       3
36.0      2
39.0      2
14.0      2
26.0      2
81.0      2
17.0      2
41.0      2
33.0      2
82.0      2
105.0     2
31.0      2
71.0      2
20.0      2
18.0      2
58.0      2
         ..
27.0      1
55.0      1
69.0      1
252.0     1
933.0     1
365.0     1
387.0     1
305.0     1
317.0     1
465.0     1
254.0     1
156.0     1
21.0      1
34.0      1
226.0     1
806.0     1
444.0     1
48.0      1
61.0      1
50.0      1
53.0      1
73.0      1
88.0      1
129.0     1
60.0      1
544.0     1
208.0     1
42.0      1
86.0      1
16.0      1
Name: NumberOfIndividualCourts, Length: 83, dtype: int64

## <font color='red'>Fourth DataFrame: "all_court_case_types"</font>

In [216]:
all_court_case_types = court_case_type.copy()

In [217]:
names_of_courts_by_state.head(3)

,CourtCourtNameID,CourtNameID,CourtID,State,CourtNameName,NumberDivisions,NumberJudges,PanelDecisionID,NumberPanels,EFilingMandatoryID,...,NumberOfIndividualCourts,EFilingMandatoryStatewideCivilID,EfilingMandatoryStatewideCriminalID,EfilingMandatoryStatewideDRID,EfilingMandatoryStatewideJuvenileID,EfilingMandatoryStatewideTrafficID,CaseManagementID,DisplayOrder,PanelDecisionDescription,CaseManagementDescription
0,1,1,2,Alabama,Court of Civil Appeals,-99,-99,-99,-99,-99,...,-98,-98,-98,-98,-98,-98,-98,1,Missing information,NaN
1,2,2,3,Alabama,Court of Criminal Appeals,-99,-99,-99,-99,-99,...,-98,-98,-98,-98,-98,-98,-98,2,Missing information,NaN
2,3,3,1,Alabama,Supreme Court,-99,-99,-99,-99,-99,...,-98,-98,-98,-98,-98,-98,-98,3,Missing information,NaN

In [218]:
names_of_courts_by_state[names_of_courts_by_state['CourtID'] == 106].T

                                                                               152
CourtCourtNameID                                                               153
CourtNameID                                                                    156
CourtID                                                                        106
State                                                                      Alabama
CourtNameName                                                              Circuit
NumberDivisions                                                                -98
NumberJudges                                                                   -99
PanelDecisionID                                                                -98
NumberPanels                                                                   -98
EFilingMandatoryID                                                             -98
EFilingFeeID                                                                   -98
NumberOfIndividualCourts                                                       -99
EFilingMandatoryStatewideCivilID                                               -98
EfilingMandatoryStatewideCriminalID                                            -98
EfilingMandatoryStatewideDRID                                                  -98
EfilingMandatoryStatewideJuvenileID                                            -98
EfilingMandatoryStatewideTrafficID                                             -98
CaseManagementID                                                                 1
DisplayOrder                                                                   153
PanelDecisionDescription                                                       NaN
CaseManagementDescription            All courts on the same case management system

<h2><font color='red'>Outstanding Question:</font></h2>
<img src='OustandingQuestionReCourtIDs196And300.png'></img>

In [219]:
# Add states name (function definition above)
all_court_case_types['State'] = all_court_case_types.apply(add_state_name, axis=1)

Error! `CourtID`: 196
Error! `CourtID`: 196
Error! `CourtID`: 196
Error! `CourtID`: 300
Error! `CourtID`: 300
Error! `CourtID`: 300
Error! `CourtID`: 300
Error! `CourtID`: 300
Error! `CourtID`: 300
Error! `CourtID`: 300
Error! `CourtID`: 300

In [220]:
# Add Court Name

def add_court_name(row):
    try:
        return names_of_courts_by_state[names_of_courts_by_state['CourtID'] == row['CourtID']]['CourtNameName'].values[0]
    except IndexError:
        print(colored('Error! `CourtID`: {}'.format(row['CourtID']), 'red', attrs=['bold']))
        return np.nan

In [221]:
all_court_case_types['CourtName'] = all_court_case_types.apply(add_court_name, axis=1)

Error! `CourtID`: 196
Error! `CourtID`: 196
Error! `CourtID`: 196
Error! `CourtID`: 300
Error! `CourtID`: 300
Error! `CourtID`: 300
Error! `CourtID`: 300
Error! `CourtID`: 300
Error! `CourtID`: 300
Error! `CourtID`: 300
Error! `CourtID`: 300

In [222]:
all_court_case_types.head()

,CourtCaseTypeID,CourtID,CaseTypeID,AppealByRight,AppealByPermission,OriginalProceeding,InterlocutoryAppeal,Exclusive,Limited,MinValue,MaxValue,Notes,DisplayOrder,State,CourtName
0,1,106,1,False,False,False,False,False,False,-98,-98,NaN,1,Alabama,Circuit
1,2,106,2,False,False,False,False,False,False,-98,-98,NaN,2,Alabama,Circuit
2,3,106,53,False,False,False,False,False,False,-98,-98,NaN,3,Alabama,Circuit
3,4,106,3,False,False,False,False,False,False,10000,NOMAX,NaN,4,Alabama,Circuit
4,5,106,6,False,False,False,False,False,False,-98,-98,NaN,5,Alabama,Circuit

In [223]:
# Add court case description
def add_court_case_description(row):
    return case_type[case_type['CaseTypeID'] == row['CaseTypeID']]['CaseTypeDescription'].values[0]

In [224]:
all_court_case_types['CaseTypeDescription'] = all_court_case_types.apply(add_court_case_description, axis=1)

In [225]:
all_court_case_types[['State', 'CourtName', 'CaseTypeDescription']].head(10)

     State  CourtName                      CaseTypeDescription
0  Alabama    Circuit                                     Tort
1  Alabama    Circuit                                 Contract
2  Alabama    Circuit                               Employment
3  Alabama    Circuit                            Real Property
4  Alabama    Circuit                          Landlord/Tenant
5  Alabama    Circuit  Civil Appeals from Limited Jurisdiction
6  Indiana  Tax Court                            Revenue (Tax)
7  Alabama    Circuit                              Dissolution
8  Alabama    Circuit                                Paternity
9  Alabama    Circuit                                  Custody

In [226]:
display_cols = [
    'State', 'CourtName', 'CaseTypeDescription', 'AppealByRight', 
    'AppealByPermission', 'OriginalProceeding', 'InterlocutoryAppeal', 
    'Exclusive', 'Limited', 'MinValue', 'MaxValue', 'Notes']

qgrid_widget = qgrid.show_grid(all_court_case_types[display_cols], show_toolbar=True)
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [227]:
# all_court_case_types[display_cols].to_csv('all_court_case_types.csv', index=False)
# all_court_case_types[display_cols].to_csv('csv_files_for_alvin/all_court_case_types.csv', index=False)

## <font color='red'>Fifth DataFrame: "court_hierarchy"</font>

In [228]:
court_hierarchy = appeals.copy()

In [229]:
court_hierarchy.head(3)

   AppealProcessID  ChildCourtID  ParentCourtID
0                1             2              1
1                2             3              1
2                3           106              1

In [230]:
names_of_courts_by_state.head()

,CourtCourtNameID,CourtNameID,CourtID,State,CourtNameName,NumberDivisions,NumberJudges,PanelDecisionID,NumberPanels,EFilingMandatoryID,...,NumberOfIndividualCourts,EFilingMandatoryStatewideCivilID,EfilingMandatoryStatewideCriminalID,EfilingMandatoryStatewideDRID,EfilingMandatoryStatewideJuvenileID,EfilingMandatoryStatewideTrafficID,CaseManagementID,DisplayOrder,PanelDecisionDescription,CaseManagementDescription
0,1,1,2,Alabama,Court of Civil Appeals,-99,-99,-99,-99,-99,...,-98,-98,-98,-98,-98,-98,-98,1,Missing information,NaN
1,2,2,3,Alabama,Court of Criminal Appeals,-99,-99,-99,-99,-99,...,-98,-98,-98,-98,-98,-98,-98,2,Missing information,NaN
2,3,3,1,Alabama,Supreme Court,-99,-99,-99,-99,-99,...,-98,-98,-98,-98,-98,-98,-98,3,Missing information,NaN
3,4,4,5,Alaska,Court of Appeals,0,3,0,-98,-98,...,-98,-98,-98,-98,-98,-98,-98,4,No,NaN
4,5,5,4,Alaska,Supreme Court,0,5,0,-98,-98,...,-98,-98,-98,-98,-98,-98,-98,5,No,NaN

In [231]:
names_of_courts_by_state[names_of_courts_by_state['CourtID'] == 2]['State']

0    Alabama
Name: State, dtype: object

In [232]:
def add_parent_child_court_state(row):
    try:
        return names_of_courts_by_state[names_of_courts_by_state['CourtID'] == row['ChildCourtID']]['State'].values[0]
    except IndexError:
        print(colored('Error! `CourtID`: {}'.format(row['ChildCourtID']), 'red', attrs=['bold']))
        
        
# def add_parent_court_state_name(row):
#     try:
#         return us_states_and_courts[us_states_and_courts['CourtID'] == row['ParentCourtID']]['State'].values[0]
#     except IndexError:
#         print(colored('Error! `CourtID`: {}'.format(row['CourtID']), 'red', attrs=['bold']))

In [233]:
court_hierarchy['State'] = court_hierarchy.apply(add_parent_child_court_state, axis=1)

Error! `CourtID`: 6
Error! `CourtID`: 112
Error! `CourtID`: 113
Error! `CourtID`: 114
Error! `CourtID`: 196
Error! `CourtID`: 71
Error! `CourtID`: 234
Error! `CourtID`: 97
Error! `CourtID`: 285
Error! `CourtID`: 300

In [234]:
court_hierarchy.head()

   AppealProcessID  ChildCourtID  ParentCourtID    State
0                1             2              1  Alabama
1                2             3              1  Alabama
2                3           106              1  Alabama
3                4           106              2  Alabama
4                5           106              3  Alabama

In [235]:
def add_child_court(row):
    try:
        return names_of_courts_by_state[names_of_courts_by_state['CourtID'] == row['ChildCourtID']]['CourtNameName'].values[0]
    except IndexError:
        print(colored('Error! No Court name for `ChildCourtID` {}'.format(row['ChildCourtID']), 'red'))
        return np.nan
    
def add_parent_court(row):
    try:
        return names_of_courts_by_state[names_of_courts_by_state['CourtID'] == row['ParentCourtID']]['CourtNameName'].values[0]
    except IndexError:
        print(colored('Error! No Court name for `ParentCourtID` {}'.format(row['ParentCourtID']), 'red'))
        return np.nan

In [236]:
court_hierarchy['ChildCourtName'] = court_hierarchy.apply(add_child_court, axis=1)

Error! No Court name for `ChildCourtID` 6
Error! No Court name for `ChildCourtID` 112
Error! No Court name for `ChildCourtID` 113
Error! No Court name for `ChildCourtID` 114
Error! No Court name for `ChildCourtID` 196
Error! No Court name for `ChildCourtID` 71
Error! No Court name for `ChildCourtID` 234
Error! No Court name for `ChildCourtID` 97
Error! No Court name for `ChildCourtID` 285
Error! No Court name for `ChildCourtID` 300

In [237]:
court_hierarchy['ParentCourtName'] = court_hierarchy.apply(add_parent_court, axis=1)

Error! No Court name for `ParentCourtID` -98
Error! No Court name for `ParentCourtID` -98
Error! No Court name for `ParentCourtID` -98
Error! No Court name for `ParentCourtID` -98
Error! No Court name for `ParentCourtID` -98
Error! No Court name for `ParentCourtID` -98
Error! No Court name for `ParentCourtID` -98
Error! No Court name for `ParentCourtID` -98

In [238]:
court_hierarchy.head()

,AppealProcessID,ChildCourtID,ParentCourtID,State,ChildCourtName,ParentCourtName
0,1,2,1,Alabama,Court of Civil Appeals,Supreme Court
1,2,3,1,Alabama,Court of Criminal Appeals,Supreme Court
2,3,106,1,Alabama,Circuit,Supreme Court
3,4,106,2,Alabama,Circuit,Court of Civil Appeals
4,5,106,3,Alabama,Circuit,Court of Criminal Appeals

In [239]:
display_cols = ['State', 'ChildCourtName', 'ParentCourtName']

qgrid_widget = qgrid.show_grid(court_hierarchy[display_cols], show_toolbar=True)
qgrid_widget

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

In [241]:
# court_hierarchy[display_cols].to_csv('court_hierarchy.csv', index=False)
court_hierarchy[display_cols].to_csv('csv_files_for_alvin/court_hierarchy.csv', index=False)

In [242]:
!ls csv_files_for_alvin/

all_court_case_types.csv     states_overview.csv
court_hierarchy.csv          us_states_and_courts.csv
names_of_courts_by_state.csv

In [1]:
import pandas as pd

/Users/erikhawkins/anaconda/envs/nlp_env/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/erikhawkins/anaconda/envs/nlp_env/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
all_states_display = pd.read_csv('data/all_states_display.csv')

In [3]:
all_states_display.head()

,USStateID,USStateName,PopulationCategoryID,PopulationDensityID,RuralID,TrialStructureID,AppellateCriminalStructureID,TrialCriminalProcessingID,DeathPenaltyID,TrialCaseloadSizeID,...,DeathPenalty,CaseloadSize,PopulationLow,PopulationHigh,PopulationCategoryLow,PopulationCategoryHigh,RuralLow,RuralHigh,CaseloadLow,CaseloadHigh
0,1,Alabama,4,3,2,2,6,2,-99,3,...,Missing information,501 Thousand-1 Million,51.0,100.0,35801.0,47800.0,26.0,49.0,501000,1000000
1,2,Alaska,1,1,2,2,4,1,0,1,...,No,Under 200 Thousand,0.0,20.0,0.0,9900.0,26.0,49.0,0,200000
2,3,Arizona,5,3,4,2,4,2,1,4,...,Yes,1.1 Million-3 Million,51.0,100.0,47801.0,64900.0,0.0,15.0,1100000,3000000
3,4,Arkansas,3,3,2,2,4,1,1,4,...,Yes,1.1 Million-3 Million,51.0,100.0,18601.0,35800.0,26.0,49.0,1100000,3000000
4,5,California,7,5,4,1,4,1,1,6,...,Yes,Over 6 Million,201.0,500.0,98901.0,NaN,0.0,15.0,6000000,10000000

# Bar Charts

In [3]:
import math
from bokeh.io import show
from bokeh.plotting import figure
from bokeh.layouts import column, row
from bokeh.layouts import widgetbox
from bokeh.models.widgets import Div

In [4]:
# selected_usstate = 'California'

In [5]:
# selected_usstate_pop_density = all_states_display[all_states_display['USStateName'] == selected_usstate]['PopulationDensity'].values[0]

In [6]:
# selected_usstate_pop_density

In [7]:
tools = 'pan,wheel_zoom,reset'

In [8]:
### Population Density

popdensity = all_states_display['PopulationDensity'].value_counts()
pop_densities = popdensity.index.values

p1 = figure(
    x_range=pop_densities,
    plot_height=250, 
    plot_width=300, 
    title='Population Density', 
    tools=tools, 
    toolbar_location='above')

p1.vbar(
    x=pop_densities,
    top=popdensity.values, 
    width=0.8)

p1.xaxis.axis_label = 'Population Density'
p1.yaxis.axis_label = 'Number of States'
p1.xgrid.grid_line_color = 'white'
p1.xaxis.major_label_orientation = math.pi/6

# p1.line(x=['101-200', '101-200'], y=[9, 9], color='red', line_width=2)

# show(p1);

In [9]:
# ### Population Category

# popcategory = all_states_display['PopulationCategory'].value_counts()
# pop_categories = popcategory.index.values

# p2 = figure(
#     x_range=pop_categories,
#     plot_height=250, 
#     plot_width=300, 
#     title='Population Category',
#     tools=tools, 
#     toolbar_location='above')

# p2.vbar(
#     x=pop_categories,
#     top=popcategory.values, 
#     width=0.8)

# p2.xaxis.axis_label = 'Population Category'
# # p2.yaxis.axis_label = 'Number of States'
# p2.xgrid.grid_line_color = 'white'
# p2.xaxis.major_label_orientation = math.pi/6

# # show(p2);

In [10]:
### Rural

def transform_rural_column(row):
    if row['Rural'] == '26-49% of the population':
        return '26-49%'
    elif row['Rural'] == '16-25% of the population':
        return '16-25%'
    elif row['Rural'] == 'Less than or equal to 15% of the population':
        return '<= 15%'
    elif row['Rural'] == 'Greater than or equal to 50% of the population':
        return '>= 50%'
    elif row['Rural'] == 'Missing information':
        return 'N/A'

all_states_display['Rural'] = all_states_display.apply(transform_rural_column, axis=1)

rural = all_states_display['Rural'].value_counts()
rural_categories = rural.index.values

p3 = figure(
    x_range=rural_categories,
    plot_height=250, 
    plot_width=300,
    title='Rural %', 
    tools=tools,
    toolbar_location='above')

p3.vbar(
    x=rural_categories,
    top=rural.values, 
    width=0.8)

p3.xaxis.axis_label = '% of State Population that is Rural'
# p3.yaxis.axis_label = 'Number of States'
p3.xgrid.grid_line_color = 'white'
p3.xaxis.major_label_orientation = math.pi/6


# show(p3);

In [11]:
### Caseload Size

def transform_caseload_size_column(row):
    if row['CaseloadSize'] == '1.1 Million-3 Million':
        return '1.1M - 3M'
    elif row['CaseloadSize'] == '501 Thousand-1 Million':
        return '500k - 1M'
    elif row['CaseloadSize'] == 'Under 200 Thousand':
        return '< 200k'
    elif row['CaseloadSize'] == '201 Thousand-500 Thousand':
        return '201k - 500k'
    elif row['CaseloadSize'] == '3.1 Million-6 Million':
        return '3.1M - 6M'
    elif row['CaseloadSize'] == 'Over 6 Million':
        return '> 6M'

all_states_display['CaseloadSize'] = all_states_display.apply(transform_caseload_size_column, axis=1)

caseload_size = all_states_display['CaseloadSize'].value_counts()
caseload_size_categories = caseload_size.index.values

p4 = figure(
    x_range=caseload_size_categories,
    plot_height=250, 
    plot_width=300, 
    title='Caseload Size', 
    tools=tools, 
    toolbar_location='above')

p4.vbar(
    x=caseload_size_categories,
    top=caseload_size.values, 
    width=0.8)

p4.xaxis.axis_label = 'Caseload Size'
# p4.yaxis.axis_label = 'Number of States'
p4.xgrid.grid_line_color = 'white'
p4.xaxis.major_label_orientation = math.pi/6

# show(p4);

In [12]:
### Death Penalty

all_states_display['DeathPenalty'] = all_states_display['DeathPenalty'].str.replace('Missing information', 'N/A')

death_penalty = all_states_display['DeathPenalty'].value_counts()
death_penalty_categories = death_penalty.index.values

p5 = figure(
    x_range=death_penalty_categories,
    plot_height=250, 
    plot_width=300,
    title='Death Penalty', 
    tools=tools, 
    toolbar_location='above')

p5.vbar(
    x=death_penalty_categories,
    top=death_penalty.values, 
    width=0.8)

p5.xaxis.axis_label = 'Death Penalty'
# p5.yaxis.axis_label = 'Number of States'
p5.xgrid.grid_line_color = 'white'

# show(p5);

In [13]:
# STATE COMPARISONS HTML Cards


state_comp_cols = [
    'USStateName', 'PopulationDensity', 'PopulationCategory', 
    'Rural', 'TrialStructure', 'AppCrimStructure', 
    'TrialCriminalProc', 'DeathPenalty', 'CaseloadSize']

states_to_compare = ['California', 'New York']#, 'Georgia', 'Texas']

state_comparison_vals = all_states_display[all_states_display['USStateName'].isin(states_to_compare)][state_comp_cols]

# output_file("div.html")

HTML = """
<div style="margin: 30px; border-style: solid; padding: 10px; border-radius: 15px;">
<h1><font color='#160E76'>{}</font></h1>
<p>
  <b>Population Density</b>: {}<br>
  <b>Population Category</b>: {}<br>
  <b>Rural</b>: {}<br>
  <b>Death Penalty</b>: {}<br>
</p>
</div>
<div style="margin: 30px; border-style: solid; padding: 10px; border-radius: 15px;">
<h1><font color='#160E76'>{}</font></h1>
<p>
  <b>Population Density</b>: {}<br>
  <b>Population Category</b>: {}<br>
  <b>Rural</b>: {}<br>
  <b>Death Penalty</b>: {}<br>
</p>
</div>
""".format(
    state_comparison_vals['USStateName'].values[0], 
    state_comparison_vals['PopulationDensity'].values[0],
    state_comparison_vals['PopulationCategory'].values[0],
    state_comparison_vals['Rural'].values[0],
    state_comparison_vals['DeathPenalty'].values[0],
    state_comparison_vals['USStateName'].values[1], 
    state_comparison_vals['PopulationDensity'].values[1],
    state_comparison_vals['PopulationCategory'].values[1],
    state_comparison_vals['Rural'].values[1],
    state_comparison_vals['DeathPenalty'].values[1],)

state_comparison_card = Div(text=HTML, width=300, height=350)

# show(widgetbox(div))

In [15]:
# show(column(row([p1, p2, p3, p4, p5]), div))
show(column(row([p1, p3, p4, p5]), div))

In [38]:
from lib.input_data import InputData

In [39]:
idata = InputData()

In [40]:
idata.generate_data()

In [41]:
idata.all_court_case_types.head()

,CourtCaseTypeID,CourtID,CaseTypeID,AppealByRight,AppealByPermission,OriginalProceeding,InterlocutoryAppeal,Exclusive,Limited,MinValue,MaxValue,Notes,DisplayOrder,State,CourtName,CaseTypeDescription
0,1,106,1,False,False,False,False,False,False,-98,-98,NaN,1,Alabama,Circuit,Tort
1,2,106,2,False,False,False,False,False,False,-98,-98,NaN,2,Alabama,Circuit,Contract
2,3,106,53,False,False,False,False,False,False,-98,-98,NaN,3,Alabama,Circuit,Employment
3,4,106,3,False,False,False,False,False,False,10000,NOMAX,NaN,4,Alabama,Circuit,Real Property
4,5,106,6,False,False,False,False,False,False,-98,-98,NaN,5,Alabama,Circuit,Landlord/Tenant

In [42]:
idata.names_of_courts_by_state.head(3)

,CourtCourtNameID,CourtNameID,CourtID,State,CourtNameName,NumberDivisions,NumberJudges,PanelDecisionID,NumberPanels,EFilingMandatoryID,...,NumberOfIndividualCourts,EFilingMandatoryStatewideCivilID,EfilingMandatoryStatewideCriminalID,EfilingMandatoryStatewideDRID,EfilingMandatoryStatewideJuvenileID,EfilingMandatoryStatewideTrafficID,CaseManagementID,DisplayOrder,PanelDecisionDescription,CaseManagementDescription
0,1,1,2,Alabama,Court of Civil Appeals,-99,-99,-99,NaN,-99,...,NaN,-98,-98,-98,-98,-98,-98,1,Missing information,NaN
1,2,2,3,Alabama,Court of Criminal Appeals,-99,-99,-99,NaN,-99,...,NaN,-98,-98,-98,-98,-98,-98,2,Missing information,NaN
2,3,3,1,Alabama,Supreme Court,-99,-99,-99,NaN,-99,...,NaN,-98,-98,-98,-98,-98,-98,3,Missing information,NaN

In [43]:
idata.all_states_display.head(3)

,USStateID,USStateName,PopulationCategoryID,PopulationDensityID,RuralID,TrialStructureID,AppellateCriminalStructureID,TrialCriminalProcessingID,DeathPenaltyID,TrialCaseloadSizeID,...,DeathPenalty,CaseloadSize,PopulationLow,PopulationHigh,PopulationCategoryLow,PopulationCategoryHigh,RuralLow,RuralHigh,CaseloadLow,CaseloadHigh
0,1,Alabama,4,3,2,2,6,2,-99,3,...,Missing information,501 Thousand-1 Million,51.0,100.0,35801.0,47800.0,26.0,49.0,501000,1000000
1,2,Alaska,1,1,2,2,4,1,0,1,...,No,Under 200 Thousand,0.0,20.0,0.0,9900.0,26.0,49.0,0,200000
2,3,Arizona,5,3,4,2,4,2,1,4,...,Yes,1.1 Million-3 Million,51.0,100.0,47801.0,64900.0,0.0,15.0,1100000,3000000

In [44]:
idata.us_states_and_courts.head(3)

,USStateCourtID,CourtID,USStateID,CourtName,CourtLevelID,CSPAggID,FundingID,AppealFromAdminAgency,Notes,Link,DisplayOrder,State,FundingDescription,CourtLevelDescription
0,1,1,1,Supreme Court,COLR,COLR,S,No,Assigns cases to the Court of Civil Appeals.,http://judicial.alabama.gov/supreme.cfm,1,Alabama,State funded,Court of Last Resort
1,2,2,1,Court of Civil Appeals,IAC,IAC,S,No,,http://judicial.alabama.gov/civil.cfm,2,Alabama,State funded,Intermediate Appellate Court
2,3,3,1,Court of Criminal Appeals,IAC,IAC,S,No,,http://judicial.alabama.gov/criminal.cfm,3,Alabama,State funded,Intermediate Appellate Court

In [45]:
idata.court_hierarchy.head(3)

,AppealProcessID,ChildCourtID,ParentCourtID,State,ChildCourtName,ParentCourtName
0,1,2,1,Alabama,Court of Civil Appeals,Supreme Court
1,2,3,1,Alabama,Court of Criminal Appeals,Supreme Court
2,3,106,1,Alabama,Circuit,Supreme Court

# HTML Cards Select All Data for Selected States

In [46]:
s = 'California'

In [51]:
court_case_display_cols = [
    'State', 'CourtName', 'CaseTypeDescription',
    'AppealByRight', 'AppealByPermission', 'OriginalProceeding', 
    'InterlocutoryAppeal', 'Exclusive', 'Limited', 'MinValue', 'MaxValue', 'Notes']

state_court_case_types = idata.all_court_case_types[idata.all_court_case_types['State'] == s][court_case_display_cols]

In [68]:
state_court_case_types.head()

,State,CourtName,CaseTypeDescription,AppealByRight,AppealByPermission,OriginalProceeding,InterlocutoryAppeal,Exclusive,Limited,MinValue,MaxValue,Notes
180,California,Superior,Tort,False,False,False,False,False,False,-98,-98,NaN
181,California,Superior,Contract,False,False,False,False,False,False,-98,-98,NaN
182,California,Superior,Employment,False,False,False,False,False,False,-98,-98,NaN
183,California,Superior,Real Property,False,False,False,False,False,False,25000,NOMAX,NaN
184,California,Superior,Probate/Estate,False,False,False,False,True,False,-98,-98,NaN

In [69]:
d = dict()

In [71]:
d['State'] = state_court_case_types['State'].values[0]

In [72]:
d

{'State': 'California'}

In [73]:
d['Courts'] = state_court_case_types['CourtName'].unique()

In [74]:
d

{'State': 'California',
 'Courts': array(['Superior', 'Courts of Appeal 1st District', 'Supreme Court'],
       dtype=object)}

In [86]:
def get_case_types(df=None, court_name=None):
    return set(df[df['CourtName'] == court_name]['CaseTypeDescription'].values)

In [91]:
d['CaseTypes'] = {
    '{}'.format(court): get_case_types(df=state_court_case_types, court_name=court) for court in d['Courts']}

In [92]:
d

{'State': 'California',
 'Courts': array(['Superior', 'Courts of Appeal 1st District', 'Supreme Court'],
       dtype=object),
 'CaseTypes': {'Superior': {'Administrative Agency Appeals',
   'Adoption',
   'Civil Appeals from Limited Jurisdiction',
   'Civil Protections Orders',
   'Contract',
   'Custody',
   'Dissolution',
   'Employment',
   'Estate',
   'Felony',
   'Guardianship',
   'Juvenile',
   'Landlord/Tenant',
   'Mental Health',
   'Miscellaneous Civil',
   'Misdemeanor',
   'Mortgage Foreclosure',
   'Non-Domestic Restraining Orders',
   'Paternity',
   'Probate/Estate',
   'Probate/Wills/Interstate',
   'Real Property',
   'Small Claims',
   'Status Offenses',
   'Support',
   'Tax',
   'Tort',
   'Visitation',
   'Writ'},
  'Courts of Appeal 1st District': {'Administrative Agency-Other',
   'Civil-Other',
   'Contract',
   'Criminal-Other',
   'Family',
   'Felony',
   'Juvenile',
   'Misdemeanor',
   'Probate/Estate',
   'Real Property',
   'Tort'},
  'Supreme Court': {'Administrative Agency-Other',
   'Certified Questions',
   'Civil-Other',
   'Contract',
   'Criminal-Other',
   'Death Penalty',
   'Family',
   'Felony',
   'Juvenile',
   'Misdemeanor',
   'Probate/Estate',
   'Real Property',
   'Tort'}}}